<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman-Web</title>
    <link rel="icon" type="image/x-icon" href="./image/favicon.ico">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/script.js"></script>
</head>
<body>


    <audio id="myAudio" src="./music/Bruitage trompette.mp3" autoplay preload ="auto"></audio>

    <h1>Défaite</h1>
    <p>Malheureusement, vous n'avez pas trouvé le mot à temps.</p>
    <a href="/difficulty.html">Essayer à nouveau</a>

        <img src="./image/clouds.png" class="clouds">
        <img src="./image/pendu.png" class="pendu">
        <img src="./image/Hangman.png" class="hangman">
        <img src="./image/grass1.png" class="grass1">
        <img src="./image/grass2.png" class="grass2">
        <img src="./image/grass3.png" class="grass3">
        <img src="./image/grass4.png" class="grass4">
        <img src="./image/grass5.png" class="grass5">
        <img src="./image/grass6.png" class="grass6">

</body>
</html>
