<!Doctype html>
<html lang="pt">
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
<body>



<h1 style="color: red;font-size: 45px;" title="Assim seja">ANGOLA VENCE CAN 2024!!!!</h1>


<p style="font-size: 20px;" title="Vão pensar que é mbiembiembé">ANGOLA jogou muito nessa can, nem sei o que dizer, muitos subestimaram os palancas negras e acabaram engolindo as suas palavras</p>
<img src="https://freesvg.id/products" alt="Soco na cara" width="104" height="142">
<a href="https://www.youtube.com/" title="CLICA então!">Clica aqui amigão :)</a>
<hr>
<p title="Boa sorte filhão!" style="font: size 20px;">Tenho 5 meses<br> Para me tornar desenvolvedor frontend<br> Terei que dominar Html,Css e JavaScript.</p>
<hr>
<pre title="Boa sorte filhão!" style="font: size 20px;">
Tenho 5 meses
Para me tornar desenvolvedor frontend
Terei que dominar Html,Css e JavaScript.
</pre>



</body>
</html>
