<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman-Web</title>
    <link rel="icon" type="image/x-icon" href="./image/favicon.ico">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/script.js"></script>
</head>
<body>
 
 
    <audio id="audioClick" src="./music/utomp3.com - Click  Sound Effect HD_320kbps.mp3"></audio>
    <audio id="myAudio" src="./music/utomp3.com - Anville Town Theme  Pokémon Black  White_320kbps.mp3" autoplay loop preload ="auto"></audio>
    <button id="toggleButton" class="music">
        <img id="musicImage" src="./image/musicOn.png" alt="Music On">
    </button>
 
    <div>
         <a href="difficulty.html" style="text-decoration: none;" class="btn">Jouer</a>
    </div>
 
    <div class="popup" id="popup-1">
        <div class="overplay"></div>
        <div class="content">
            <div class="close-btn" onclick="togglepopup(); playAudio('audioClick')">&times;</div>
            <p style="font-size: 20px;">Bienvenu sur le jeu du pendu ! <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Grinning%20Face%20with%20Smiling%20Eyes.png"
                 alt="Grinning Face with Smiling Eyes"
                 width="20"
                 height="20"
                 /><br>Le but du pendu est de découvrir un mot dont les lettres ont été cachées et remplacées par des underscores "_". La difficulté du jeu se situe aux nombres de lettres à retrouver tout en ayant seulement 10 vies.</p>
            <p style="font-size: 20px;">Bonne chance ! <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Winking%20Face.png" 
                alt="Winking Face" 
                width="20" 
                height="20"
                 /></p>
        </div>
    </div>
 
    <button onclick="togglepopup(); playAudio('audioClick')" class="btn-comment">Comment Jouer</button>
 
    <button onclick="toggleCredits(); playAudio('audioClick')"class="btn-credits playAudio('audioClick')">Crédits</button>
 
    <div class="popup" id="popup-credits">
        <div class="overlay"></div>
        <div class="content">
            <div class="close-btn" onclick="toggleCredits(); playAudio('audioClick')">&times;</div>
            <p style="font-size: 20px;"> &#128187; Backend : Nicolad GOUY (<a href="https://github.com/gonicolas12" target="_blank" style="color: white;" >https://github.com/gonicolas12</a>)</p>
            <p style="font-size: 20px;"> &#128187; Frontend : Celso BARROS (<a href="https://github.com/Karabodjan" target="_blank" style="color: white;">https://github.com/Karabodjan</a>)</p>
        </div>
    </div>
 
        <img src="./image/clouds.png" class="clouds">
        <img src="./image/pendu.png" class="pendu">
        <img src="./image/Hangman.png" class="hangman">
        <img src="./image/grass1.png" class="grass1">
        <img src="./image/grass2.png" class="grass2">
        <img src="./image/grass3.png" class="grass3">
        <img src="./image/grass4.png" class="grass4">
        <img src="./image/grass5.png" class="grass5">
        <img src="./image/grass6.png" class="grass6">
 
</body>
</html>
