<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman-Web</title>
    <link rel="icon" type="image/x-icon" href="./image/favicon.ico">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/script.js"></script>
</head>
<body>
 
 
    <audio id="myAudio" src="./music/MUSIQUE LIGUE DES CHAMPIONS (THÈME !).mp3" autoplay preload ="auto"></audio>
<div>
    <h1>Victoire !</h1>
    <h2>Félicitations, vous avez trouvé le mot!</h2>
    <a href="/difficulty.html" class="btn">Rejouer</a>
</div>
        <img src="./image/clouds.png" class="clouds">
        <img src="./image/pendu.png" class="pendu">
        <a href="main.html">
            <img src="./image/Hangman.png" class="hangman" alt="Hangman">
        </a>
        <img src="./image/grass1.png" class="grass1">
        <img src="./image/grass2.png" class="grass2">
        <img src="./image/grass3.png" class="grass3">
        <img src="./image/grass4.png" class="grass4">
        <img src="./image/grass5.png" class="grass5">
        <img src="./image/grass6.png" class="grass6">
 
</body>
</html>